## **Reminder:** 

### For each notebook, you should submit your notebook with all the cells executed, from start to finish, in a fresh run (i.e., first cell number should be [1], second [2], etc.). You can achieve this by selecting Kernel -> Restart and run all. At the end of the run, your notebook should have populated a database in the university server which you will have created exclusively for this coursework.

### **Any deviation from the submission instructions above will result in a mark of zero for the assessment or question part.**

# Part 1: NOTEBOOK: DATABASE CREATION AND QUERYING [35 marks]

In [1]:
import pymysql

In [2]:
connection = pymysql.connect(
    host='csmysql.cs.cf.ac.uk',
    user='c23098022',
    password='Arfah300800',
    database='c23098022_Assessment_Database',
    charset='utf8mb4')

In [3]:
with connection.cursor() as cursor:
    sql = "SHOW TABLES;"
    cursor.execute(sql)
    result = cursor.fetchall()
    
print(result)

(('Comments',), ('Posts',), ('Users',))

## PART A: DATA MODELING [15 marks]

1) Python logic for reading in the data and handling missing values. Use of Pandas is recommended. Note: you can reuse code from Part 2 questions 1 and 3 for this question. [1 mark]

In [4]:
# your code here
import pandas as pd

In [5]:
# Reading the CSV file into a pandas DataFrame
df = pd.read_csv("data_portfolio_24.csv",encoding='utf-8')
# Printing the first few rows of the DataFrame to inspect the data
print(df.head())

             author                                       comment_body
0            arne-b  Campenaerts actually prepared pretty hard for ...  \
1  Noble_Flatulence  The bikewrench subreddit be like "frame slight...
2             tkcom  That fan should be fined based on the damage c...
3            Cog348  Chris Froome getting cheered by a French crowd...
4    Sead_KolaSagan  Thomas escaped the crash that took down everyb...

   comment_score  comment_award comment_mod_distinction  comment_created
0            106              0                     NaN     1.624704e+09  \
1             78              0                     NaN     1.624717e+09
2             79              0                     NaN     1.624717e+09
3             77              0                     NaN     1.624721e+09
4             67              0                     NaN     1.624717e+09

   author_comment_karma  author_post_karma  author_created subreddit
0                 54881              11172    1.390754e+09   peloton  \
1                181898               4853    1.357789e+09   peloton
2                 84779               3709    1.288982e+09   peloton
3                 93846               1990    1.547502e+09   peloton
4                 32150                 88    1.506169e+09   peloton

                                          post_title  post_score
0  [Race Thread] 2021 Tour de France - Stage 1 (2...         159  \
1  [Race Thread] 2021 Tour de France - Stage 1 (2...         159
2  [Race Thread] 2021 Tour de France - Stage 1 (2...         159
3  [Race Thread] 2021 Tour de France - Stage 1 (2...         159
4  [Race Thread] 2021 Tour de France - Stage 1 (2...         159

   post_num_comments                                          post_body
0               2313  | Date | Stage | From > To | Length | Type | F...  \
1               2313  | Date | Stage | From > To | Length | Type | F...
2               2313  | Date | Stage | From > To | Length | Type | F...
3               2313  | Date | Stage | From > To | Length | Type | F...
4               2313  | Date | Stage | From > To | Length | Type | F...

   post_created  post_award
0  1.624694e+09           0
1  1.624694e+09           0
2  1.624694e+09           0
3  1.624694e+09           0
4  1.624694e+09           0

In [6]:
# Displaying summary about the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11810 entries, 0 to 11809
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   author                   11036 non-null  object
 1   comment_body             11810 non-null  object
 2   comment_score            11810 non-null  int64
 3   comment_award            11810 non-null  int64
 4   comment_mod_distinction  5 non-null      object
 5   comment_created          11810 non-null  float64
 6   author_comment_karma     11810 non-null  int64
 7   author_post_karma        11810 non-null  int64
 8   author_created           10878 non-null  float64
 9   subreddit                11810 non-null  object
 10  post_title               11810 non-null  object
 11  post_score               11810 non-null  int64
 12  post_num_comments        11810 non-null  int64
 13  post_body                11810 non-null  object
 14  post_created             11810 non-null  float64
 15  post_award               11810 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 1.4+ MB

In [7]:
# Checking for missing values in the DataFrame and summing them up column-wise
df.isnull().sum()

author                       774
comment_body                   0
comment_score                  0
comment_award                  0
comment_mod_distinction    11805
comment_created                0
author_comment_karma           0
author_post_karma              0
author_created               932
subreddit                      0
post_title                     0
post_score                     0
post_num_comments              0
post_body                      0
post_created                   0
post_award                     0
dtype: int64

In [8]:
# Filling missing values in the author column with anonymous
df["author"] = df['author'].fillna("anonymous")

# Filling missing values in the comment_mod_distinction column with "-"
df["comment_mod_distinction"] = df['comment_mod_distinction'].fillna("-")

# Filling missing values in the author_created column with 0
df["author_created"] = df['author_created'].fillna(0)

# Converting the post_body column to string type
df["post_body"] = df["post_body"].astype(str)

# Converting timestamps columns to datetime format
df['author_created'] = pd.to_datetime(df['author_created'], unit='s')
df['comment_created'] = pd.to_datetime(df['comment_created'], unit='s')
df['post_created'] = pd.to_datetime(df['post_created'], unit='s')

In [9]:
# Calculating the number of missing values in each column of the DataFrame
df.isnull().sum()

author                     0
comment_body               0
comment_score              0
comment_award              0
comment_mod_distinction    0
comment_created            0
author_comment_karma       0
author_post_karma          0
author_created             0
subreddit                  0
post_title                 0
post_score                 0
post_num_comments          0
post_body                  0
post_created               0
post_award                 0
dtype: int64

In [10]:
# Counting the number of unique values in each column
df.nunique()

author                     1158
comment_body               7831
comment_score               100
comment_award                 1
comment_mod_distinction       2
comment_created            7806
author_comment_karma       2191
author_post_karma           908
author_created             1132
subreddit                     1
post_title                   21
post_score                   33
post_num_comments            19
post_body                    21
post_created                 21
post_award                    1
dtype: int64

2) SQL code for creating tables. [5 marks]

In [11]:
# DROP TABLE IF EXISTS Users;
# DROP TABLE IF EXISTS Posts;
# DROP TABLE IF EXISTS Comments;

# CREATE TABLE Users (
#     id INT AUTO_INCREMENT PRIMARY KEY,
#     username VARCHAR(1000) UNIQUE NOT NULL,
#     comment_karma INT NOT NULL,
#     post_karma INT NOT NULL,
#     account_created DATETIME,
#     UNIQUE(username)
# );

# CREATE TABLE Posts (
#     id INT AUTO_INCREMENT PRIMARY KEY,
#     title TEXT NOT NULL,
#     body TEXT NOT NULL,
#     score INT NOT NULL,
#     num_comments INT NOT NULL,
#     created DATETIME NOT NULL,
#     award_count INT NOT NULL,
#     subreddit VARCHAR(255) NOT NULL,
#     author_id INT,
#     FOREIGN KEY (author_id) REFERENCES Users(id)
# );

# CREATE TABLE Comments (
#     id INT AUTO_INCREMENT PRIMARY KEY,
#     body TEXT NOT NULL,
#     score INT NOT NULL,
#     award_count INT NOT NULL,
#     mod_distinction VARCHAR(255) NOT NULL DEFAULT 'none',
#     created DATETIME NOT NULL,
#     post_id INT,
#     author_id INT,
#     FOREIGN KEY (post_id) REFERENCES Posts(id),
#     FOREIGN KEY (author_id) REFERENCES Users(id)
# );

3) SQL code for populating tables. [5 marks]

In [12]:
user_df = df.drop_duplicates(subset=['author'], keep='first')

In [13]:
# your code here
# Creating a cursor object to execute SQL queries
cursor = connection.cursor()
# Iterating over rows in the DataFrame
for _, row in user_df.iterrows():
    # Extracting values from the current row
    lis=[row["author"],row["author_comment_karma"],row["author_post_karma"],row["author_created"]]
    # SQL query to insert values into the Users table
    sql = f"INSERT INTO Users (username, comment_karma, post_karma, account_created) VALUES (%s, %s, %s, %s)"
    # Executing the SQL query with the extracted values
    cursor.execute(sql, tuple(lis))

# Commit changes to save data
connection.commit()

In [14]:
sql=f"SELECT id,username FROM Users where username=%s"
user_name = "tkcom"
# Executing the SQL query with the specified username
cursor.execute(sql,user_name)
# Fetching all the results returned by the query
result_set = cursor.fetchall()
# Extracting the id from the first result in the result set
result_set[0][0]

3

In [15]:
# your code here
cursor = connection.cursor()
for _, row in df.iterrows():
    sql=f"SELECT id,username FROM Users where username=%s"
    user_name = row['author']
    cursor.execute(sql,user_name)
    # Fetching all the results returned by the query
    result_set = cursor.fetchall()
    id = result_set[0][0]
    # Creating a list containing values from the current row and the extracted user_id
    lis=[row["post_title"],row["post_body"],row["post_score"],row["post_num_comments"],row["post_created"],row["post_award"],row["subreddit"],id]
    sql = f"INSERT INTO Posts (title, body, score, num_comments,created,award_count, subreddit, author_id) VALUES (%s, %s, %s, %s,%s, %s, %s, %s)"
    # Executing the SQL query with the list of values
    cursor.execute(sql, tuple(lis))

# Commit changes to save data
connection.commit()

In [16]:
# Query to change the collation of all columns into utf-8.
# Creating a cursor to execute the sql queries.
cursor = connection.cursor()
 
# Altering the tables to convert the characters to be utf-8.
cursor.execute("""
ALTER TABLE Users CONVERT TO CHARACTER SET utf8mb4
    COLLATE utf8mb4_unicode_ci;
               """)
 
cursor.execute("""
ALTER TABLE Posts CONVERT TO CHARACTER SET utf8mb4
    COLLATE utf8mb4_unicode_ci;
               """)
 
cursor.execute("""
ALTER TABLE Comments CONVERT TO CHARACTER SET utf8mb4
    COLLATE utf8mb4_unicode_ci;
               """)
 
# Commiting the queries.
connection.commit()

In [17]:
# your code here
cursor = connection.cursor()
for _, row in df.iterrows():
    sql=f"SELECT id,username FROM Users where username=%s"
    user_name = row['author']
    cursor.execute(sql,user_name)
    result_set = cursor.fetchall()
    user_id = result_set[0][0]
    lis=[row["comment_body"],row["comment_score"],row["comment_award"],row["comment_mod_distinction"],row["comment_created"],_+1,user_id]
    try:
        sql = f"INSERT INTO Comments (body, score, award_count, mod_distinction,created, post_id, author_id) VALUES (%s, %s, %s, %s,%s, %s,%s)"
        cursor.execute(sql, tuple(lis))
    except pymysql.err.IntegrityError:
        # Handling integrity errors if the username doesn't exist
        print("The username doesn't exist")

# Commit changes to save data
connection.commit()

## 














PART B: QUERYING [20 marks] 

1 - Users with highest scores over time [2 marks]

Implement a query that returns the users with the highest aggregate scores (over all their
comments) for the whole dataset. You should restrict your results to only those whose aggregated score is above 2000 points, in descending order. Your query should return two columns: username and `aggr_scores`.

In [18]:
# your code here
cursor = connection.cursor()
sql = """SELECT 
    U.username,
    SUM(C.score) AS aggr_scores
FROM 
    Users U
JOIN 
    Comments C ON U.id = C.author_id
GROUP BY 
    U.username
HAVING 
    aggr_scores > 2000
ORDER BY 
    aggr_scores DESC;"""
cursor.execute(sql)
result_df = cursor.fetchall()
# Creating a DataFrame from the fetched results with specified column names
df = pd.DataFrame(result_df, columns=['Username', 'aggr_scores'])
df

                Username aggr_scores
0              anonymous       14245
1        TheRollingJones        6125
2   Heavy_Mycologist_104        3782
3        GeniuslyMoronic        3438
4                 HerHor        3152
5             push_karrr        2792
6     FasterThanFlourite        2764
7           CooroSnowFox        2385
8            weeee_splat        2368
9                 L_Dawg        2240
10               welk101        2238
11           ChemicalOle        2069
12                mah0ne        2031

2 - First successful comment [2 marks]

Implement a query that returns all comments where the comment score and the author’s post karma have a difference of 1.  Your query should return three columns: `user`, `comment_score`, and `author_post_karma`.

In [19]:
# your code here
sql = """
SELECT
    U.username AS user,
    C.score AS comment_score,
    U.post_karma AS author_post_karma
FROM
    Comments C
JOIN
    Users U ON C.author_id = U.id
WHERE
    ABS(C.score - U.post_karma) = 1;
"""


cursor.execute(sql)

# Fetch all results from the executed SQL query
result = cursor.fetchall()

# Create a DataFrame from the fetched results
# Ensure to replace 'user', 'comment_score', 'author_post_karma' with your actual column names
df = pd.DataFrame(result, columns=['User', 'Comment Score', 'Author Post Karma'])

# Display the DataFrame
print(df)

                   User  Comment Score  Author Post Karma
0        BreakLonely582             31                 30
1        BreakLonely582             29                 30
2              ElCalera              2                  1
3            Babiboeboo             15                 14
4            Babiboeboo             13                 14
5            Babiboeboo             13                 14
6            Babiboeboo             13                 14
7            Babiboeboo             13                 14
8            Babiboeboo             13                 14
9            Babiboeboo             13                 14
10           Babiboeboo             15                 14
11           Babiboeboo             13                 14
12                F0RTI             13                 14
13                F0RTI             13                 14
14       SWAN_RONSON_JR              7                  6
15       SWAN_RONSON_JR              7                  6
16       SWAN_RONSON_JR              5                  6
17       SWAN_RONSON_JR              7                  6
18       SWAN_RONSON_JR              7                  6
19       SWAN_RONSON_JR              7                  6
20       SWAN_RONSON_JR              7                  6
21       SWAN_RONSON_JR              5                  6
22     deschaussures147             11                 12
23       BondedByBloeja             37                 38
24             peanut88             14                 13
25             peanut88             14                 13
26            buntysoap              5                  6
27                RSGGA              5                  6
28                RSGGA              5                  6
29       HonestMistake_             18                 19
30             Gate-Dry             10                 11
31             jbberlin             20                 21
32              Medi4no             18                 19
33              Medi4no             18                 19
34     BoCheckHorseMate             13                 14
35     BoCheckHorseMate             15                 14
36     BoCheckHorseMate             13                 14
37     BoCheckHorseMate             13                 14
38             gyosaphi             11                 12
39            pierre_86             36                 37
40         Xqf_VdW4Rr4V             11                 10
41       clairy_roubaix             14                 15
42       clairy_roubaix             14                 15
43  Domestique_Ecossais              8                  7
44        messibusiness             13                 12
45        messibusiness             13                 12
46       cpc-Nattefrost              8                  9
47            Lexus1810             22                 21
48        MonsieurSocko             17                 18
49        MonsieurSocko             19                 18
50        MonsieurSocko             17                 18

3 - Posts with mod interventions [2 marks]

Implement a query that returns the number of posts who have received 1 or more comments with a mod distinction. Your query should return only one value.

In [20]:
# your code here
sql = """
SELECT 
    COUNT(DISTINCT post_id) AS num_posts_with_mod_comments
FROM 
    Comments
WHERE 
    mod_distinction != 'none';
"""

# Execute the SQL query
cursor.execute(sql)

# Fetch the result
result = cursor.fetchone()  # Using fetchone() since we expect a single row

# Create a DataFrame from the fetched result
# The column name 'Num Posts with Mod Comments' corresponds to the calculated count
df = pd.DataFrame([result], columns=['Num Posts with Mod Comments'])

# Display the DataFrame
print(df)

   Num Posts with Mod Comments
0                        11810

4 - Find posts about the Tour de France. [2 marks]

Implement a query that retrieves the timestamp and body of all comments where the body contains the word ‘tour de france’ or ‘tdf’ anywhere. The returned table should have two columns: `timestamp` and `body`.

In [21]:
# your code here
sql = """
SELECT
    created AS timestamp,
    body
FROM
    Comments
WHERE
    body LIKE '%tour de france%' OR
    body LIKE '%tdf%';
"""

# Execute the SQL query
cursor.execute(sql)

# Fetch all results from the executed SQL query
results = cursor.fetchall()

# Create a DataFrame from the fetched results
df = pd.DataFrame(results, columns=['Timestamp', 'Body'])

# Display the DataFrame
print(df)

              Timestamp                                               Body
0   2021-06-26 15:12:52  This is the most savage first stage of the TdF...
1   2021-06-26 14:42:42  Omg, did you all know that MvdP’s grandfather ...
2   2021-06-26 15:15:18  That's the wildest first stage of the TdF I ca...
3   2021-06-26 11:09:47  You are of course all here to learn while watc...
4   2021-06-26 12:50:50  On the Australian coverage they are eating a b...
..                  ...                                                ...
214 2021-07-18 16:24:37  I hope they continue having Wiggins on the mot...
215 2021-07-18 17:13:15  The irony with the most iconic route circulati...
216 2021-07-18 15:21:54  It would be lovely if mods add an explanation ...
217 2021-07-18 17:04:22  Oh yeah, another standard of TDF coverage is s...
218 2021-07-18 16:50:42  WvA changed his name to Eddy Merckx last night...

[219 rows x 2 columns]

5 - Comments over posts [2 marks]

Implement a query that retrieves the comments where the comment score exceeds the score of the post in which they were posted, and the post title is “[Race Thread] 2021 Tour de France - Stage 9 (2.UWT)”. Your returned table should contain 3 columns: `post_title`, `post_score`, `comment_score`, `comment_body`.

In [22]:
# your code here
sql = """
SELECT
    P.title AS post_title,
    P.score AS post_score,
    C.score AS comment_score,
    C.body AS comment_body
FROM
    Comments C
JOIN
    Posts P ON C.post_id = P.id
WHERE
    P.title = '[Race Thread] 2021 Tour de France - Stage 9 (2.UWT)'
    AND C.score > P.score;
"""

# Execute the SQL query
cursor.execute(sql)

# Fetch all results from the executed SQL query
results = cursor.fetchall()

# Create a DataFrame from the fetched results
df = pd.DataFrame(results, columns=['Post Title', 'Post Score', 'Comment Score', 'Comment Body'])

# Display the DataFrame
print(df)

                                          Post Title  Post Score
0  [Race Thread] 2021 Tour de France - Stage 9 (2...          80  \
1  [Race Thread] 2021 Tour de France - Stage 9 (2...          80
2  [Race Thread] 2021 Tour de France - Stage 9 (2...          80
3  [Race Thread] 2021 Tour de France - Stage 9 (2...          78
4  [Race Thread] 2021 Tour de France - Stage 9 (2...          78
5  [Race Thread] 2021 Tour de France - Stage 9 (2...          78

   Comment Score                                       Comment Body
0             89  Our boy roglic is officially not starting, RIP...
1             84  One of my least favourite things about watchin...
2            101  I’ve had this day circled since the route came...
3             85  Our boy roglic is officially not starting, RIP...
4             80  One of my least favourite things about watchin...
5            100  I’ve had this day circled since the route came...

6 - Users with the highest average upvote ratio [2 marks]

Implement a query that shows the top 5 users in terms of the average `comment_scores`. Your query should return two columns: `user` and `avg_score`.

In [23]:
# your code here
sql = """
SELECT
    U.username AS user,
    AVG(C.score) AS avg_score
FROM
    Users U
JOIN
    Comments C ON U.id = C.author_id
GROUP BY
    U.username
ORDER BY
    avg_score DESC
LIMIT 5;
"""

# Execute the SQL query
cursor.execute(sql)

# Fetch all results from the executed SQL query
results = cursor.fetchall()

# Create a DataFrame from the fetched results
df = pd.DataFrame(results, columns=['User', 'Average Score'])

# Display the DataFrame
print(df)

              User Average Score
0    RomanTotale17      176.0000
1  Pineapplesmores      100.5000
2            tkcom       79.0000
3          Gapii99       70.0000
4         chef_nic       68.0000

7 - What are the chances [2 marks]

Implement a query that finds those comments whose length (in number of characters) is exactly the same as the number of comments on the post it was posted in. You should retrieve the following columns: `post_title`, `comment_body`, `num_comments` and `dif` (which should show the difference in characters between the length of the title and the number of comments).

In [24]:
# your code here
sql = """
SELECT
    P.title AS post_title,
    C.body AS comment_body,
    P.num_comments,
    CHAR_LENGTH(P.title) - P.num_comments AS dif
FROM
    Posts P
JOIN
    Comments C ON P.id = C.post_id
JOIN
    (SELECT post_id, COUNT(*) AS num_comments FROM Comments GROUP BY post_id) AS PostCounts
    ON P.id = PostCounts.post_id
WHERE
    CHAR_LENGTH(C.body) = PostCounts.num_comments;
"""

# Execute the SQL query
cursor.execute(sql)

# Fetch all results from the executed SQL query
results = cursor.fetchall()

# Create a DataFrame from the fetched results
df = pd.DataFrame(results, columns=['Post Title', 'Comment Body', 'Number of Comments', 'Difference'])

# Display the DataFrame
print(df)

                                          Post Title Comment Body
0  [Race Thread] 2021 Tour de France - Stage 12 (...            W  \

   Number of Comments  Difference
0                1405       -1353

8 - Top of the Tour. [2 marks]

Write a query that retrieves only a ranked list of the `post_created` dates ordered from the post with the highest aggregated comment score to the post with the lowest aggregated comment score. Your query should return those days in a single-column table (column name `post_date`) in the format DD-MM.

In [25]:
# your code here
sql = """
SELECT
    DATE_FORMAT(created, '%d-%m') AS post_date
FROM
    Posts
GROUP BY
    DATE_FORMAT(created, '%d-%m')
ORDER BY
    SUM(score) DESC;
"""

# Execute the SQL query
cursor.execute(sql)

# Fetch all results from the executed SQL query
results = cursor.fetchall()

# Create a DataFrame from the fetched results
df = pd.DataFrame(results, columns=['Post Date'])

# Display the DataFrame
print(df)

   Post Date
0      07-07
1      14-07
2      11-07
3      03-07
4      30-06
5      26-06
6      02-07
7      29-06
8      17-07
9      04-07
10     18-07
11     09-07
12     08-07
13     06-07
14     10-07
15     27-06
16     28-06
17     13-07
18     15-07
19     01-07
20     16-07

9 - Top 'yellow jersey'-mentioning users. [2 marks]

Retrieve the top 3 users in terms of how often they have mentioned the expression yellow jersey' (i.e. the jersey worn by the rider that is currently in position 1 of the race) in their comment. Your query should return two columns: `user` and `total_count`. You will consider an occurrence of the word 'yellow jersey' only when it appears before and after a whitespace (i.e., `<space>yellow<space>jersey<space>`) and irrespective of case (both `<space>yellow<space>jersey<space>` and `<space>Yellow<space>Jersey<space>` would be valid hits).

In [26]:
# your code here
sql = """
SELECT
    username AS user,
    COUNT(*) AS total_count
FROM
    Users
JOIN
    Comments ON Users.id = Comments.author_id
WHERE
    LOWER(body) LIKE '% yellow jersey %'
GROUP BY
    username
ORDER BY
    total_count DESC
LIMIT 3;
"""

# Execute the SQL query
cursor.execute(sql)

# Fetch all results from the executed SQL query
results = cursor.fetchall()

# Create a DataFrame from the fetched results
df = pd.DataFrame(results, columns=['User', 'Total Count'])

# Display the DataFrame
print(df)

                 User  Total Count
0  FasterThanFlourite            4
1           anonymous            2
2      fruitshortcake            2

10 - Users with low karma for their posts. [2 marks]

Retrieve the number of users with a combined karma (comment & post) that is lower than the lowest post score in our dataset. Your query should return only one result, under the column result.

In [27]:
# your code here
sql = """
SELECT
    COUNT(*) AS result
FROM
    Users
WHERE
    (Users.comment_karma + Users.post_karma) < (SELECT MIN(Posts.score) FROM Posts);
"""

# Execute the SQL query
cursor.execute(sql)

# Fetch the result
result = cursor.fetchone()

# Print the result
print("Number of users:", result[0])

Number of users: 31